#include <input/processors.dtsi>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

/ {
    macros {
        macro_kill_line: macro_kill_line {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp LS(END)>, <&kp DEL>;
        };
    };

    behaviors {
        colon_semi: colon_semi {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp COLON>, <&kp SEMI>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        ht_lang: ht_lang {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };

        mm_minus_under: mm_minus_under {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp MINUS>, <&kp UNDER>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        mm_equal_plus: mm_equal_plus {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp EQUAL>, <&kp PLUS>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        mm_squote_dquote: mm_squote_dquote {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp SQT>, <&kp DQT>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        mm_qmark_slash: mm_qmark_slash {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp SLASH>, <&kp QMARK>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        mm_grave_tilde: mm_grave_tilde {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp GRAVE>, <&kp TILDE>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        mm_pipe_bslash: mm_pipe_bslash {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp PIPE>, <&kp BSLH>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        mm_lbkt_lbrc: mm_lbkt_lbrc {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp LBKT>, <&kp LBRC>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        mm_rbkt_rbrc: mm_rbkt_rbrc {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp RBKT>, <&kp RBRC>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
    };

    combos {
        compatible = "zmk,combos";

        combo_tab {
            timeout-ms = <50>;
            key-positions = <10 11>;
            bindings = <&kp TAB>;
        };

        combo_minus {
            timeout-ms = <50>;
            key-positions = <7 8>;
            bindings = <&mm_minus_under>;
        };

        combo_plus {
            timeout-ms = <50>;
            key-positions = <8 9>;
            bindings = <&mm_equal_plus>;
        };

        combo_squote {
            timeout-ms = <50>;
            key-positions = <18 19>;
            bindings = <&mm_squote_dquote>;
        };

        combo_question {
            timeout-ms = <50>;
            key-positions = <28 29>;
            bindings = <&mm_qmark_slash>;
        };

        combo_grave {
            timeout-ms = <50>;
            key-positions = <0 1>;
            bindings = <&mm_grave_tilde>;
        };

        combo_pipe {
            timeout-ms = <50>;
            key-positions = <6 7>;
            bindings = <&mm_pipe_bslash>;
        };

        combo_lbkt {
            timeout-ms = <50>;
            key-positions = <16 17>;
            bindings = <&mm_lbkt_lbrc>;
        };

        combo_rbkt {
            timeout-ms = <50>;
            key-positions = <17 18>;
            bindings = <&mm_rbkt_rbrc>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp Q      &kp W     &kp E     &kp R        &kp T      &kp Y     &kp U        &kp I      &kp O      &kp P
&kp A      &kp S     &kp D     &kp F        &kp G      &kp H     &kp J        &kp K      &kp L      &colon_semi
&kp Z      &kp X     &kp C     &kp V        &kp B      &kp N     &kp M        &kp COMMA  &kp DOT    &kp APOS
&none      &none     &kp LCMD  &kp LCTRL  &mt LSHFT LANG2  &lt 3 ESC  &lt 1 SPACE  &lt 2 ENTER  &none      &none
            >;
        };

        layer1 {
            label = "1";
            bindings = <
&kp N1     &kp N2  &kp N3  &kp N4     &kp N5  &kp N6     &kp N7     &kp N8    &kp N9     &kp N0
&trans     &trans  &trans  &trans     &trans  &kp LEFT   &kp DOWN   &kp UP    &kp RIGHT  &trans
&trans     &trans  &trans  &trans     &trans  &trans     &trans     &mm_lbkt_lbrc    &mm_rbkt_rbrc     &trans
&trans     &trans  &trans  &trans  &mt LSHFT LANG1  &trans     &trans     &trans    &trans     &trans
            >;
        };

        layer2 {
            label = "2";
            bindings = <
&bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4    &kp F1   &kp F2   &kp F3  &kp F4  &kp F5
&trans        &trans        &trans        &trans        &bt BT_CLR      &kp LEFT   &kp DOWN   &kp UP  &kp RIGHT  &trans
&to 0         &to 4         &trans        &trans        &bt BT_CLR_ALL  &kp F11  &kp F12  &trans  &trans  &trans
&trans        &trans        &trans        &trans        &trans          &kp DEL  &trans   &trans  &trans  &trans
            >;
        };

        layer3 {
            label = "3";
            bindings = <
&trans  &trans  &trans  &trans  &trans    &mkp MB1  &mkp MB2  &mkp MB3  &trans  &trans
&trans  &trans  &trans  &trans  &trans    &trans    &trans    &trans    &trans  &trans
&trans  &trans  &trans  &trans  &trans    &trans    &trans    &trans    &trans  &trans
&trans  &trans  &trans  &trans  &trans    &trans    &trans    &trans    &trans  &trans
            >;
        };

        layer4 {
            label = "WIN";
            bindings = <
&kp Q      &kp W     &kp E      &kp R        &kp T            &kp Y      &kp U        &kp I        &kp O      &kp P
&kp A      &kp S     &kp D      &kp F        &kp G            &kp H      &kp J        &kp K        &kp L      &colon_semi
&kp Z      &kp X     &kp C      &kp V        &kp B            &kp N      &kp M        &kp COMMA    &kp DOT    &kp APOS
&none      &none     &lt 5 LCTRL  &kp LCMD   &mt LSHFT LANG2    &lt 3 ESC  &lt 1 SPACE  &lt 2 ENTER  &none      &none
            >;
        };

        layer5 {
            label = "EMACS";
            bindings = <
&kp LC(Q)  &kp LC(W)  &kp END      &kp LC(R)  &kp LC(T)    &kp LC(Y)  &kp LC(U)        &kp LC(I)  &kp UP     &kp LC(O)
&kp HOME   &kp LC(S)  &kp DEL      &kp RIGHT  &kp LC(G)    &kp BSPC   &kp LC(J)        &macro_kill_line  &kp LC(L)  &kp LC(SEMI)
&kp LC(Z)  &kp LC(X)  &kp LC(C)    &kp LC(V)  &kp LEFT     &kp DOWN   &kp LC(M)        &kp LC(COMMA)  &kp LC(DOT)  &kp LC(APOS)
&trans     &trans     &trans       &trans     &trans       &trans     &kp LC(SPACE)    &trans     &trans     &trans
            >;
        };
    };
};
