#include <input/processors.dtsi>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

/ {
    behaviors {
        colon_semi: colon_semi {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp COLON>, <&kp SEMI>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        ht_lang: ht_lang {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };

        mm_minus_under: mm_minus_under {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp MINUS>, <&kp UNDER>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        mm_equal_plus: mm_equal_plus {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp EQUAL>, <&kp PLUS>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        mm_squote_dquote: mm_squote_dquote {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp SQT>, <&kp DQT>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        mm_qmark_slash: mm_qmark_slash {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp QMARK>, <&kp SLASH>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        mm_grave_tilde: mm_grave_tilde {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp GRAVE>, <&kp TILDE>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        mm_pipe_slash: mm_pipe_slash {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp PIPE>, <&kp SLASH>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
    };

    combos {
        compatible = "zmk,combos";

        combo_tab {
            timeout-ms = <50>;
            key-positions = <10 11>;
            bindings = <&kp TAB>;
        };

        combo_minus {
            timeout-ms = <50>;
            key-positions = <7 8>;
            bindings = <&mm_minus_under>;
        };

        combo_plus {
            timeout-ms = <50>;
            key-positions = <8 9>;
            bindings = <&mm_equal_plus>;
        };

        combo_squote {
            timeout-ms = <50>;
            key-positions = <18 19>;
            bindings = <&mm_squote_dquote>;
        };

        combo_question {
            timeout-ms = <50>;
            key-positions = <28 29>;
            bindings = <&mm_qmark_slash>;
        };

        combo_grave {
            timeout-ms = <50>;
            key-positions = <0 1>;
            bindings = <&mm_grave_tilde>;
        };

        combo_pipe {
            timeout-ms = <50>;
            key-positions = <6 7>;
            bindings = <&mm_pipe_slash>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp Q      &kp W     &kp E     &kp R        &kp T      &kp Y     &kp U        &kp I      &kp O      &kp P
&kp A      &kp S     &kp D     &kp F        &kp G      &kp H     &kp J        &kp K      &kp L      &colon_semi
&kp Z      &kp X     &kp C     &kp V        &kp B      &kp N     &kp M        &kp COMMA  &kp DOT    &kp APOS
&kp LSHFT  &kp LALT  &kp LCMD  &kp LCTRL  &mt LSHFT LANG2  &lt 3 ESC  &lt 1 SPACE  &lt 2 ENTER  &kp RSHFT  &mt LALT SLASH
            >;
        };

        layer1 {
            label = "1";
            bindings = <
&kp N1     &kp N2  &kp N3  &kp N4     &kp N5  &trans     &trans     &trans    &trans     &trans
&kp N6     &kp N7  &kp N8  &kp N9     &kp N0  &kp LEFT   &kp DOWN   &kp UP    &kp RIGHT  &trans
&trans     &trans  &trans  &trans     &trans  &trans     &trans     &trans    &trans     &trans
&trans     &trans  &trans  &trans  &kp LANG1  &trans     &trans     &trans    &trans     &trans
            >;
        };

        layer2 {
            label = "2";
            bindings = <
&bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4    &kp F1   &kp F2   &kp F3  &kp F4  &kp F5
&trans        &trans        &trans        &trans        &bt BT_CLR      &kp LEFT   &kp DOWN   &kp UP  &kp RIGHT  &trans
&trans        &trans        &trans        &trans        &bt BT_CLR_ALL  &kp F11  &kp F12  &trans  &trans  &trans
&trans        &trans        &trans        &trans        &trans          &kp DEL  &trans   &trans  &trans  &trans
            >;
        };

        layer3 {
            label = "3";
            bindings = <
&trans       &trans  &kp LG(RIGHT)  &trans     &trans    &mkp MB1  &mkp MB2  &mkp MB3   &trans  &trans
&kp LG(LEFT) &trans  &kp DEL        &kp RIGHT  &trans    &kp BSPC  &trans    &kp LC(K)  &trans  &trans
&trans       &trans  &trans         &trans     &kp LEFT  &trans    &trans    &trans     &trans  &trans
&kp LSHFT    &trans  &kp LCMD       &kp LALT   &to 0     &trans    &trans    &trans     &to 0   &kp RALT
            >;
        };
    };
};
