name: Build ZMK firmware
on: [push, pull_request, workflow_dispatch]

jobs:
  build_su:
    uses: zmkfirmware/zmk/.github/workflows/build-user-config.yml@v0.3
    with:
      build_matrix_path: build_su.yaml
      archive_name: firmware_SU

  build_yoru:
    needs: build_su
    uses: zmkfirmware/zmk/.github/workflows/build-user-config.yml@v0.3
    with:
      build_matrix_path: build_yoru.yaml
      archive_name: firmware_YORU
